*/bin/*
U2bPlayer/bin/AndroidManifest.xml

U2bPlayer/bin/AndroidManifest.xml

U2bPlayer/bin/classes.dex

U2bPlayer/bin/resources.ap_

U2bPlayer/bin/U2bPlayer.apk

U2bPlayer/lint.xml

U2bPlayer/bin/AndroidManifest.xml

U2bPlayer/bin/classes.dex

U2bPlayer/bin/dexedLibs/android-support-v4-e75d1ca99dda2879e1651b695e01ec90.jar

U2bPlayer/bin/dexedLibs/YouTubeAndroidPlayerApi-20de836b4d252347f28fc929aaabdc97.jar

U2bPlayer/bin/jarlist.cache

U2bPlayer/bin/resources.ap_

U2bPlayer/bin/U2bPlayer.apk
